.categories {
    padding-top: 150px;

    @include mobile {
        padding-top: 100px;
    }

    .fp-tableCell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 149px;
    }

    &__wrap {
        flex: auto;
        display: flex;
        margin-top: 42px;
        width: 100%;

        @include mobile {
            display: block;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__title {
        font-weight: bold;
        font-size: 38px;
        line-height: 38px;
        text-transform: uppercase;
    }

    &__main {
        margin-top: 32px;
        display: flex;

    }

    &__left {
        width: 22%;
        margin-right: 55px;

        @include mobile {
            width: 100%;
        }
    }

    &__img {
        margin: auto;
        display: block;

        path {
            stroke-dasharray: 80;
            animation: dashMove 10s linear alternate infinite;

        }
    }

    &__desc {
        font-size: 15px;
        line-height: 20px;
        color: #A1A6B1;
        margin-top: 25px;
    }

    &__right {
        width: calc(78% - 55px);

        @include mobile {
            width: 100%;
            margin-top: 30px;
        }

        .categories {
            &__header {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    &__grid {
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__sticky-wrap {
        position: sticky;
        top: 100px;
    }
}

@keyframes dashMove {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 450;
    }
}