.catalog {
    .fp-tableCell {
        display: flex;
        justify-content: flex-end;
    }

    &__title-wrap {
        padding-top: 169px;
        width: 30%;
        text-align: center;
    }

    &__title {
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__title-color {
        color: $blue;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(23%, 440px));
    }

    &__grid-item {
        border-left: 1px solid #56575C;
        border-bottom: 1px solid #56575C;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 23px;
        cursor: pointer;

        &:nth-child(n+4) {
            border-bottom: 0;
            justify-content: flex-start;
        }

        &:hover {
            .catalog__grid-item-img svg:nth-child(2) {

                path,
                rect,
                circle {
                    stroke-dashoffset: 0;
                    transition: all ease-in-out 2.5s;
                }
            }
        }
    }

    &__number {
        color: $gold;
        font-size: 15px;
        line-height: 16px;
        align-self: start;
    }

    &__grid-item-img {
        margin-top: 72px;
        position: relative;
        height: 20vh;
        display: flex;
        align-items: center;

        svg,
        img {
            max-height: 100%;
        }

        svg:nth-child(2),
        img:nth-child(2) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            path,
            rect,
            circle {
                stroke: $blue;
                stroke-dasharray: 1500;
                stroke-dashoffset: 1500;
                transition: all ease-in-out .8s;
            }
        }
    }

    &__grid-item-title {
        margin-top: 30px;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}