.footer {
    background-color: $dark;
    padding-top: 43px;
    margin-top: 100px;

    @include mobile {
        margin-top: 40px;
        padding-top: 30px;
    }

    &.section .fp-tableCell {
        padding-top: 0;
    }

    &__top {
        display: flex;
        align-items: flex-start;

        @include mobile {
            display: block;
        }
    }

    &__left {
        margin-right: 180px;

        @include container {
            margin-right: 6vw;
        }

        @include mobile {
            margin-right: 0;
        }
    }

    &__desc {
        max-width: 330px;
        margin-top: 25px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 1px;
        color: $grey_soft;

        @include container {
            max-width: 20vw;
        }
    }

    &__right {
        display: flex;
        align-items: stretch;

        @include container {
            flex: auto;
            justify-content: space-between;
        }

        @include tablet {
            flex-wrap: wrap;
        }
    }

    &__column {
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include container {
            margin-right: 30px;
        }

        @include mobile {
            margin-right: 0;
            margin-top: 20px;
        }
    }

    &__title {
        a {
            color: $gold;
            text-decoration: none;
            font-size: 25px;
            line-height: 29px;
        }
    }

    &__list {
        margin-top: 12px;
        counter-reset: my-awesome-counter;
    }

    &__list-item {
        margin-bottom: 4px;
        counter-increment: my-awesome-counter;

        &:hover {
            .footer__list-item-txt {
                transform: translateX(8px);
            }
        }

        a {
            font-size: 18px;
            line-height: 21px;
            color: $grey_soft;
            text-decoration: none;

            &::before {
                content: "0"counter(my-awesome-counter);
                font-size: 10px;
                line-height: 16px;
                color: $gold;
                margin-right: 5px;
                display: inline-block;
            }
        }
    }

    &__list-item-txt {
        display: inline-block;
        transition: 0.1s linear;
    }

    &__soc-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: #56575c;
        margin-right: 15px;

        @include mobile {
            margin-top: 15px;
        }
    }

    &__bottom {
        margin-top: 28px;
        border-top: 1px solid #56575c;
        padding: 20px 0 24px;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #c5c6d1;
    }
}
