.main-slider {
    height: 100%;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .main-slider__pag.swiper-pagination-bullets {
        position: absolute;
        z-index: 2;
        left: 100px;
        bottom: 53px;
        right: auto;
        top: auto;
        width: auto;

        @include mobile {
            left: 20px;
        }

        .swiper-pagination-bullet {
            margin-right: 10px;
        }
    }

    &__elements {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        pointer-events: none;

        .container {
            height: 100%;
            position: relative;
        }
    }

    &__navigation {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        pointer-events: visible;

        @include container {
            right: 25px;
        }

        @include mobile {
            right: 20px;
        }
    }

    &__separator {
        width: 30px;
        height: 1px;
        background-color: $gold;
    }

    &__arrow {
        transition: linear .2s;
        cursor: pointer;

        &_up {
            padding-bottom: 15px;

            &:hover {
                transform: translateY(-5px);
            }
        }

        &_down {
            padding-top: 15px;

            &:hover {
                transform: translateY(5px);
            }
        }
    }

    .swiper-slide {

        @include mobile {
            height: 100vh;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.305);
            }
        }

        .container {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }

        &-active {
            .main-slider {

                &__title,
                &__desc,
                &__product-name {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }

    &__txt-wrap {
        margin-right: 180px;

        @include mobile {
            margin-right: 0;
            padding-right: 60px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        transition: all .3s linear .2s;
        opacity: 0;
        transform: translateX(100px);

        @include mobile {
            font-size: 26px;
            line-height: normal;
        }
    }

    &__desc {
        font-weight: normal;
        font-size: 25px;
        line-height: 25px;
        margin: 27px 0;
        max-width: 407px;
        opacity: 0;
        transform: translateX(-100px);
        transition: all .3s linear .2s;

        @include mobile {
            font-size: 18px;
            line-height: normal;
        }
    }

    &__product-name {
        font-weight: bold;
        font-size: 40px;
        line-height: 46px;
        transition: all .3s linear .2s;
        text-transform: uppercase;
        opacity: 0;
        transform: translateX(100px);

        @include mobile {
            font-size: 22px;
            line-height: normal;
        }

        &_color {
            color: $blue;
        }
    }

    &__link {
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        color: $gold;
        display: flex;
        margin-top: 17px;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all ease-out .2s;

        @include mobile {
            font-size: 16px;
            line-height: normal;
        }

        &:after {
            content: '';
            display: inline-block;
            margin-left: 14px;
            width: 200px;
            height: 1px;
            background-color: $gold;
            transition: all ease-out .2s;

            @include mobile {
                width: 120px;
            }
        }

        &:hover {
            padding-left: 50px;

            &:after {
                width: 150px;

                @include mobile {
                    width: 70px;
                }
            }
        }
    }
}