.menu {
    &__list {
        font-weight: 700;
        font-size: 28px;
    }

    &__list-item {
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        transition: 0.2s cubic-bezier(0.39, 0.19, 0.27, 0.79);

        &:hover {
            color: $gold;
        }
    }

}

.menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    color: $dark;
    text-align: right;
    text-transform: uppercase;
    visibility: hidden;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
    opacity: 0;
    cursor: pointer;

    &.active {
        visibility: visible;
        opacity: 1;
        transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        .menu-popup {
            &__wrap {
                transform: translateX(0);
            }
        }
    }

    &__wrap {
        background-color: #fff;
        padding: 60px 150px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.4s ease-out 0.4s;
        transform: translateX(100%);
        cursor: default;
    }

    &__close {
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        transition: 0.2s cubic-bezier(0.39, 0.19, 0.27, 0.79);

        span {
            transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
            display: inline-block;
        }

        &:hover {
            color: $gold;

            span {
                transform: rotate(-90deg);
            }
        }
    }

    &__contacts {
        font-size: 16px;
        font-weight: 700;
    }

    &__contacts-item {
        margin-bottom: 8px;

        a {
            text-decoration: none;
            color: inherit;
            transition: 0.2s cubic-bezier(0.39, 0.19, 0.27, 0.79);

            &:hover {
                color: $gold;
            }
        }
    }

    &__contacts-color {
        color: $gold;
    }
}