.modal {
    background-color: rgba(19, 19, 19, 0.568);
    visibility: hidden;

    &--is-ready {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    &--is-ready[aria-hidden="true"] {
        visibility: hidden;
    }

    &--is-ready[aria-hidden="false"] {
        visibility: visible;
    }

    &__window {
        display: flex;
        left: 50%;
        position: absolute;
        overflow: hidden;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        border-radius: 15px;
        width: 900px;
    }

    &__left {
        background-color: #181818;
        width: 50%;

        .product-page {
            &__code {
                text-align: right;
            }

            &__title {
                font-size: 25px;
                line-height: 38px;
                text-align: center;
            }

            &__price {
                width: 50%;
                text-align: right;
            }
        }
    }

    &__left-main {
        padding: 23px 15px 20px;
    }

    &__img {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }

    &__close {
        position: absolute;
        right: 8px;
        top: 8px;
        border: 1px solid #262527;
        border-radius: 50%;
        color: #262527;
        background: transparent;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.01628 4.88068L1.04033 0.875H2.84244L4.99173 3.89205L7.15757 0.875H8.95967L5.81839 4.88068L9.125 9.125H7.3229L4.99173 5.86932L2.6771 9.125H0.875L4.01628 4.88068Z' fill='%23262527'/%3E%3C/svg%3E%0A");
            display: block;
            transition: all ease-out 0.17s;
        }

        &:hover {
            border: 1px solid $gold;

            &::after {
                transform: rotate(180deg);
            }
        }
    }

    &__left-footer {
        background-color: #262527;
        display: flex;
        align-items: center;
        padding: 13px 28px;
    }

    &__counter {
        display: flex;
        width: 50%;
        justify-content: flex-end;

        .swiper-container {
            margin: 0;
            margin-left: 13px;
            height: 60px;
        }

        .swiper-slide {
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            display: flex;
            align-items: center;
            min-width: 45px;
        }

        .slider-nav__arrow_down {
            visibility: hidden;
        }
    }

    &__counter-txt {
        align-self: flex-end;
        margin-bottom: 16px;
        font-size: 15px;
        line-height: 17px;
        color: $gold;
        margin-left: 5px;
    }

    &__right {
        background-color: #ebecf5;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 12px 40px;
    }

    &__order-title {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 38px;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 46px;
    }

    &__input {
        position: relative;
    }

    &__input input,
    &__textarea {
        width: 100%;
        margin-bottom: 22px;
        font-weight: normal;
        font-size: 20px;
        line-height: 38px;
        color: $grey;
        background: transparent;
        border-bottom: 1px solid #181818;

        &::placeholder {
            text-transform: uppercase;
            color: #56575c;
        }
    }

    &__input input {
        &:not(:placeholder-shown) {
            &:invalid {
                border-bottom: 1px solid red;

                & ~ .modal__input-not-complete {
                    display: block;
                }
            }

            &:valid {
                border-bottom: 1px solid green;

                & ~ .modal__input-complete {
                    display: block;
                }
            }
        }
    }

    &__input-complete,
    &__input-not-complete {
        position: absolute;
        right: 0;
        font-size: 15px;
        line-height: 38px;
        top: 0;
        display: none;
    }

    &__input-complete {
        color: green;
    }

    &__input-not-complete {
        color: red;
    }

    &__textarea {
        resize: none;
        height: 114px;
    }

    &__textarea-wrap {
        position: relative;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #181818;
            position: absolute;
            left: 0;
        }

        &::before {
            top: 38px;
        }

        &::after {
            top: 76px;
        }
    }

    &__submit {
        border-radius: 4px;
        background-color: $gold;
        border: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        margin: auto;
        padding: 13px 21px;
        width: auto;
    }
}
