.popular {

    @include mobile {
        margin-top: 60px;
    }

    .fp-tableCell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__slider.swiper-container {
        max-width: 100%;
        padding-top: 6px;
        padding-bottom: 40px;
        margin-top: 22px;

        @include mobile {
            max-width: 100vw;
            width: calc(100% + 40px);
            margin-left: -20px;
        }

        .swiper-slide {
            max-width: 390px;
            display: inline-block;
            width: auto;

            @include mobile {
                max-width: 100vw;
                width: calc(100vw - 40px);

            }
        }


        .popular__slider-pag {
            margin-top: 5px;

            @include mobile {
                margin-top: 20px;
            }
        }
    }
}