.popular {
    .fp-tableCell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__slider.swiper-container {
        max-width: 100%;
        padding-top: 6px;
        padding-bottom: 40px;
        margin-top: 22px;

        .swiper-slide {
            max-width: 390px;
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            border: 1px solid $gold;
            background: transparent;
            transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;

            &:before {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                background: $gold;
                border-radius: 50%;
                position: relative;
                left: 2px;
                top: 2px;
                transform: scale(0);
                transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
            }

            &:hover {
                opacity: 1;
            }

            &-active {
                background: transparent;

                &:before {
                    transform: scale(1);
                }
            }
        }

        .popular__slider-pag {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
        }
    }
}