div(class="catalog  section")
    div(class="catalog__title-wrap")
        h2(class="catalog__title") 
            span(class="catalog__title-color") каталог
            <br/>  товаров
    div(class="catalog__grid")
        div(class="catalog__grid-item")
            span(class="catalog__number") 01
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/freshMeat.svg")
                img(class="svg" src="images/catalog/freshMeat.svg")
            h3(class="catalog__grid-item-title") Мясорубки
        div(class="catalog__grid-item")
            span(class="catalog__number") 02
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/mixer.svg")
                img(class="svg" src="images/catalog/mixer.svg")
            h3(class="catalog__grid-item-title") Мясорубки
        div(class="catalog__grid-item")
            span(class="catalog__number") 03
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/pilesos.svg")
                img(class="svg" src="images/catalog/pilesos.svg")
            h3(class="catalog__grid-item-title") Мясорубки
        div(class="catalog__grid-item")
            span(class="catalog__number") 04
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/blender.svg")
                img(class="svg" src="images/catalog/blender.svg")
            h3(class="catalog__grid-item-title") Мясорубки
        div(class="catalog__grid-item")
            span(class="catalog__number") 05
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/grill.svg")
                img(class="svg" src="images/catalog/grill.svg")
            h3(class="catalog__grid-item-title") Мясорубки
        div(class="catalog__grid-item")
            span(class="catalog__number") 06
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/accecuares.svg")
                img(class="svg" src="images/catalog/accecuares.svg")
            h3(class="catalog__grid-item-title") Мясорубки

