footer.footer.section.auto-height
    .footer__top.container 
        .footer__left
            a(href="/").footer__logo
                img(src="images/icons/logo.svg" alt="Rauberg")
            p.footer__desc Самый лучший бренд бытовой техники 
                |Который работает езе со времен ручных
                |мясорубок и появления первой, сочной 
                |котлеты для бургера
        .footer__right
            .footer__column
                .footer__txt-wrap
                    h3.footer__title 
                        a(href="javascript:;") О компании
                    ul.footer__list
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 01
                                span.footer__list-item-txt Контакты
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 02
                                span.footer__list-item-txt Официальные центры
                .footer__soc
                    a(href="javascript:;" target="blank").footer__soc-item
                        img(src="images/soc/inst.svg" alt="Instagram")
                    a(href="javascript:;" target="blank").footer__soc-item
                        img(src="images/soc/youtube.svg" alt="Youtube")
                    a(href="javascript:;" target="blank").footer__soc-item
                        img(src="images/soc/vk.svg" alt="Vkontakte")
            .footer__column
                .footer__txt-wrap
                    h3.footer__title 
                        a(href="javascript:;") Категории
                    ul.footer__list
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 01
                                span.footer__list-item-txt Мясорубки
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 02
                                span.footer__list-item-txt Планетарные миксеры
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 03
                                span.footer__list-item-txt Вертикальные пылесосы
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 04
                                span.footer__list-item-txt Соковыжималки
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 05
                                span.footer__list-item-txt Электрогрили
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 06
                                span.footer__list-item-txt Аксессуары
            .footer__column
                .footer__txt-wrap
                    h3.footer__title 
                        a(href="javascript:;") Поддержка
                    ul.footer__list
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 01
                                span.footer__list-item-txt Сервисные центры
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 02
                                span.footer__list-item-txt Оплата
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 03
                                span.footer__list-item-txt Доставка
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 04
                                span.footer__list-item-txt Обмен, возврат
                        li.footer__list-item   
                            a(href="javascript:;") 
                                span.footer__list-number 05
                                span.footer__list-item-txt Задать вопрос
    .footer__bottom 
        .container
            |© 2020 RAUBERG — официальный интернет-магазин бытовой техники. Все права защищены.Условия использования и политика конфиденциальности
script(src="scripts/main.js")