header.header
    .container
        .header__left
            a(href="/" class="header__logo")
                img(src="images/icons/logo.svg" alt="Rauberg")
            .header__products.products-trigger
                .products-trigger__square
                    - var n = 0;
                    while n < 9
                        - n++
                        span
                .products-trigger__txt продукция
        .header__right
            .header__contacts
                a(class="header__tel" href="tel:+7(800)222-90-61") +7 (800) 222-90-61
                span.header__time пн-пт: 
                    span.header__time-highlight c 10.00 до 20.00
            div.search-box.header__search-box
                input(type="text", placeholder=" ")
                span.search-box__close
            .header__btn.burger
                span
                span
                span
    include popups.pug

