div(class="section")
    .main-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/1.jpg")
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/2.jpg")
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/1.jpg")
        .main-slider__pag.slider-pag
        