article.new.container.section
    .new__left
        .new__action новинка
        h2.new__title ВЕРТИКАЛЬНЫЙ </br> ПЫЛЕСОС 
            span.new__title-color RVC-560
        p.new__text Мощный вертикальный пылесос, поможет вам в уборке квартиры. 
            |С системой 2 в 1 вы сможете убраться не только на полу но и других труднодоступных поверхностях. </br> </br>
            |Мощная очистка на всех типах пола: до 25 минут работы без потери мощности. 
            |Уборка от твердого пола до ковриков и ковровых покрытий с низким ворсом одним нажатием кнопки. 
            |Регулировка скорости всасывания идеально подходит для различных задач очистки.
        a(href="javascript:;").btn.btn_white.new__more подробнее
    .new__right 
        img(src="images/any_floor.jpg").new__img