.prod-popup
    .prod-popup__left
        .prod-popup__close
            span &#10006;
            |  закрыть
        ul.prod-popup__list
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 1
                    |  мясорубки
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 2
                    |  планетарные миксеры
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 3
                    |  вертикальные пылесосы
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 4
                    |  соковыжималки
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 5
                    |  электрогрили
            li.prod-popup__list-item
                a.prod-popup__link(href="!#")
                    span 6
                    |  аксессуары
    .prod-popup__right