div(class="catalog")
    div(class="catalog__title-wrap")
        h2(class="catalog__title subtitle") 
            span(class="subtitle__color") каталог
            <br/>  товаров
    div(class="catalog__grid")
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 01
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/freshMeat.svg" alt="Мясорубки")
                img(class="svg" src="images/catalog/freshMeat.svg" alt="Мясорубки")
            h3(class="catalog__grid-item-title") Мясорубки
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 02
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/mixer.svg" alt="Планетарные миксеры")
                img(class="svg" src="images/catalog/mixer.svg" alt="Планетарные миксеры")
            h3(class="catalog__grid-item-title") Планетарные миксеры
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 03
            div(class="catalog__grid-item-img catalog__grid-item-img_medium")
                img(class="svg" src="images/catalog/pilesos.svg" alt="Вертикальные пылесосы")
                img(class="svg" src="images/catalog/pilesos.svg" alt="Вертикальные пылесосы")
            h3(class="catalog__grid-item-title") вертикальные пылесосы
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 04
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/blender.svg" alt="Соковыжималки")
                img(class="svg" src="images/catalog/blender.svg" alt="Соковыжималки")
            h3(class="catalog__grid-item-title") Соковыжималки
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 05
            div(class="catalog__grid-item-img")
                img(class="svg" src="images/catalog/grill.svg" alt="Электрогрили")
                img(class="svg" src="images/catalog/grill.svg" alt="Электрогрили")
            h3(class="catalog__grid-item-title") Электрогрили
        a(class="catalog__grid-item" href="categories.html")
            span(class="catalog__number") 06
            div(class="catalog__grid-item-img catalog__grid-item-img_small")
                img(class="svg" src="images/catalog/accecuares.svg" alt="Аксессуары")
                img(class="svg" src="images/catalog/accecuares.svg" alt="Аксессуары")
            h3(class="catalog__grid-item-title") Аксессуары
    div(class="catalog__slider swiper-container")
        div(class="swiper-wrapper")
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 01
                div(class="catalog__grid-item-img")
                    img(class="svg" src="images/catalog/freshMeat.svg" alt="Мясорубки")
                h3(class="catalog__grid-item-title") Мясорубки
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 02
                div(class="catalog__grid-item-img")
                    img(class="svg" src="images/catalog/mixer.svg" alt="Планетарные миксеры")
                h3(class="catalog__grid-item-title") Планетарные миксеры
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 03
                div(class="catalog__grid-item-img catalog__grid-item-img_medium")
                    img(class="svg" src="images/catalog/pilesos.svg" alt="Вертикальные пылесосы")
                h3(class="catalog__grid-item-title") вертикальные пылесосы
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 04
                div(class="catalog__grid-item-img")
                    img(class="svg" src="images/catalog/blender.svg" alt="Соковыжималки")
                h3(class="catalog__grid-item-title") Соковыжималки
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 05
                div(class="catalog__grid-item-img")
                    img(class="svg" src="images/catalog/grill.svg" alt="Электрогрили")
                h3(class="catalog__grid-item-title") Электрогрили
            div(class="catalog__grid-item swiper-slide")
                span(class="catalog__number") 06
                div(class="catalog__grid-item-img catalog__grid-item-img_small")
                    img(class="svg" src="images/catalog/accecuares.svg" alt="Аксессуары")
                h3(class="catalog__grid-item-title") Аксессуары
        div(class="swiper-scrollbar catalog__scrollbar")

