div(class="product-card")
    span(class="product-card__articul") Артикул:13379
    picture(class="product-card__img-wrap")
        source(srcset="images/freshMeat.webp" type="image/webp")
        img(class="product-card__img" src="images/freshMeat.png" alt="мясорубка")
    div(class="product-card__txt")
        h3(class="product-card__title") Rauberg RMG-041
        ul(class="product-card__char-list")
            li(class="product-card__char-item")
                span(class="product-card__char" title="Максимальная потребляемая мощность мощность (при заклинивании):") Максимальная потребляемая мощность мощность (при заклинивании):
                span(class="product-card__dotted")
                span(class="product-card__char-val") 2600 Вт
            li(class="product-card__char-item")
                span(class="product-card__char") Аксессуары в комплекте:
                span(class="product-card__dotted")
                span(class="product-card__char-val") 11 шт
            li(class="product-card__char-item")
                span(class="product-card__char") Производительность:
                span(class="product-card__dotted")
                span(class="product-card__char-val") 1,5 кг/мин
        span(class="product-card__price") 13 900 
        div(class="product-card__recommend") Рекомендованная интернет цена
    a(href="product-page.html", class="btn product-card__btn") подробнее