div(class="section")
    .main-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/1.jpg" alt="Мясорубка")
                .container
                    .main-slider__txt-wrap
                        h2.main-slider__title мечты близко
                        div.main-slider__desc Самый лучший помощник на кухне ваш верный друг - мясорубка
                        .main-slider__product-name Rauberg 
                            span.main-slider__product-name_color RMG-041
                        a(href="javascript:;").main-slider__link перейти
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/2.jpg" alt="Вертикальный пылесос")
                .container
                    .main-slider__txt-wrap
                        h2.main-slider__title мечты близко
                        div.main-slider__desc Самый лучший помощник на кухне ваш верный друг - мясорубка
                        .main-slider__product-name Rauberg 
                            span.main-slider__product-name_color RMG-041
                        a(href="javascript:;").main-slider__link перейти
            .swiper-slide
                img.main-slider__img(src="images/mainSlider/3.jpg" alt="Соковыжималка")
                .container
                    .main-slider__txt-wrap
                        h2.main-slider__title мечты близко
                        div.main-slider__desc Самый лучший помощник на кухне ваш верный друг - мясорубка
                        .main-slider__product-name Rauberg 
                            span.main-slider__product-name_color RMG-041
                        a(href="javascript:;").main-slider__link перейти
        .main-slider__elements
            .container  
                .main-slider__pag.slider-pag
                .main-slider__navigation 
                    .main-slider__arrow.main-slider__arrow_up
                        img(src="images/icons/angle_up.svg" alt="Предыдущий слайд")
                    div.main-slider__separator
                    .main-slider__arrow.main-slider__arrow_down
                        img(src="images/icons/angle_down.svg" alt="Следующий слайд")
        