.prod-popup
    .prod-popup__left
        .prod-popup__close
            span &#10006;
            |  закрыть
        ul.prod-popup__list
            li.prod-popup__list-item(data-prod-title="meat")
                a.prod-popup__link(href="categories.pug")
                    span 01
                    |  мясорубки
            li.prod-popup__list-item(data-prod-title="mix")
                a.prod-popup__link(href="!#")
                    span 02
                    |  планетарные миксеры
            li.prod-popup__list-item(data-prod-title="vacuum")
                a.prod-popup__link(href="!#")
                    span 03
                    |  вертикальные пылесосы
            li.prod-popup__list-item(data-prod-title="juice")
                a.prod-popup__link(href="!#")
                    span 04
                    |  соковыжималки
            li.prod-popup__list-item(data-prod-title="grill")
                a.prod-popup__link(href="!#")
                    span 05
                    |  электрогрили
            li.prod-popup__list-item(data-prod-title="accesories")
                a.prod-popup__link(href="!#")
                    span 06
                    |  аксессуары
    .prod-popup__right
        img(src="images/products/1.jpg" data-prod-preview="meat").prod-popup__preview.active
        img(src="images/products/2.jpg" data-prod-preview="mix").prod-popup__preview
        img(src="images/products/1.jpg" data-prod-preview="vacuum").prod-popup__preview.active
        img(src="images/products/2.jpg" data-prod-preview="juice").prod-popup__preview
        img(src="images/products/1.jpg" data-prod-preview="grill").prod-popup__preview.active
        img(src="images/products/2.jpg" data-prod-preview="accesories").prod-popup__preview
.menu-popup
    .menu-popup__wrap
        .menu-popup__close 
            span &#10006;
            |  закрыть
        nav.menu 
            ul.menu__list
                li.menu__list-item
                    a.menu__link(href="!#") о нас
                li.menu__list-item
                    a.menu__link(href="!#") где приобрести
                li.menu__list-item
                    a.menu__link(href="!#") услуги
                li.menu__list-item
                    a.menu__link(href="!#") контакты
                li.menu__list-item
                    a.menu__link(href="!#") карьера
        ul.menu-popup__contacts
            li.menu-popup__contacts-item
                span.menu-popup__contacts-color пн-пт:
                |  c 10.00 до 20.00
            li.menu-popup__contacts-item
                span.menu-popup__contacts-color сб-вс:
                |  c 11.00 до 19.00
            li.menu-popup__contacts-item
                a(href="tel:+7(800)222-90-61") +7 (800) 222-90-61
            li.menu-popup__contacts-item
                a(href="mailto:info@rauberg.ru") info@rauberg.ru