
html {
  font-size: 15px;
  color: black;

  @include container {
      font-size: 14px;
  }
}

body {
  font-family: 'Play', sans-serif;
  background-color: $grey;
  color: white;
}

.container {
  max-width: 1590px;
  display: block;
  margin: auto;

  @include container {
      padding-left: 25px;
      padding-right: 25px;
  }

  @include tablet {
      padding: 0 30px;
  }

  @include mobile {
      padding: 0 20px;
  }

}

.section {
  height: 100vh;
  padding-top: 60px;
}