<!DOCTYPE html>
html(lang="ru")
    include pug/head.pug
    body
        include pug/header.pug
        div(id="fullpage")
            include pug/main-slider.pug 
            include pug/catalog.pug 
            include pug/popular.pug 
            include pug/new.pug 
            include pug/footer.pug 
