<!DOCTYPE html>
html(lang="ru")
    include pug/head.pug
    body
        include pug/header.pug
        div(id="nofullpage") 
            .product-page.container   
                .product-page__sticky-wrap
                    .product-page__slider-wrap
                        .product-page__slider.swiper-container  
                            .swiper-wrapper
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/1.webp")
                                        img(src="images/products/meat/1.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/2.webp")
                                        img(src="images/products/meat/2.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/3.webp")
                                        img(src="images/products/meat/3.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/1.webp")
                                        img(src="images/products/meat/1.png", alt="desc")
                        .product-page__nav-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/1.webp")
                                            img(src="images/products/meat/1.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/2.webp")
                                            img(src="images/products/meat/2.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/3.webp")
                                            img(src="images/products/meat/3.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/1.webp")
                                            img(src="images/products/meat/1.png", alt="desc")
                .product-page__info
                    .breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__list-item  
                                a(href="/") Главная                        
                            li.breadcrumbs__list-item  
                                a(href="/categories.pug") Мясорубки                        
                            li.breadcrumbs__list-item  
                                | Мясорубка Rauberg RMG-041
                    h2.product-page__title Мясорубка Rauberg 
                        span.product-page__title-color RMG-041
                    .product-page__code Артикул:11917
                    .product-page__buy-box
                        .product-page__price 8 888 
                        .product-page__btn-wrap
                            btn.product-page__one-click-btn.btn купить в один клик
                            btn.product-page__buy-btn.btn купить 
                    .product-page__recommendation Рекомендована інтернет ціна
                    .product-page__controls
                    .product-page__shops
                        .product-page__shops-title Придбати цей виріб у:
                        .product-page__shops-list
                            a(href="https://bt.rozetka.com.ua/ua/206467561/p206467561/" target="_blank" rel="nofollow" class="product-page__shops-item")
                                img(src="https://liberton.ua/image/cache/catalog/stores/shop1-150x75.png" alt="rozetka")
                            a(href="https://eldorado.ua/uk/kondicioner-liberton-lac-12-inv/p71287088/" target="_blank" rel="nofollow" class="product-page__shops-item")
                                img(src="https://liberton.ua/image/cache/catalog/eldorado-logo-150x75.png" alt="eldorado")
                        a(href="https://liberton.ua/shops-online" class="btn") всі магазини
                    .product-page__tabs.tabs-list
                            a(href="#card1" class="product-page__tabs-link active") Характеристики
                            a(href="#card2" class="product-page__tabs-link") Опис товару
                            a(href="#card3" class="product-page__tabs-link") Відгуки
                    .product-page__options
                        #card1.product-page__tab.tab.active
                            .product-page__specifications
                                .product-page__specifications-row
                                    .product-page__specifications-name БТО:
                                    .product-page__specifications-value 12000
                                .product-page__specifications-row
                                    .product-page__specifications-name Кондиціонер, тип:
                                    .product-page__specifications-value інверторна спліт-система
                                .product-page__specifications-row
                                    .product-page__specifications-name БТО:
                                    .product-page__specifications-value 12000
                                .product-page__specifications-row
                                    .product-page__specifications-name Кондиціонер, тип:
                                    .product-page__specifications-value інверторна спліт-система
                                .product-page__specifications-row
                                    .product-page__specifications-name БТО:
                                    .product-page__specifications-value 12000
                                .product-page__specifications-row
                                    .product-page__specifications-name Кондиціонер, тип:
                                    .product-page__specifications-value інверторна спліт-система
                                .product-page__specifications-row
                                    .product-page__specifications-name БТО:
                                    .product-page__specifications-value 12000
                                .product-page__specifications-row
                                    .product-page__specifications-name Кондиціонер, тип:
                                    .product-page__specifications-value інверторна спліт-система
                        #card2.product-page__tab.tab
                            .product-page__description.text-content
                                |Тип: інвертор, спліт-система. Мах площа ох. / обігр .: 40 м2. Клас енергоеф-ті: А. Таймер до 24 год. Фільтрація. Осушення повітря. Вентиляція. Режими: авто, сон, еко. Потужність ох. / обігр.: 3530/3660 Вт. Споживана потужність: 1096/1010 Вт. Хладагент: R410A. Матеріал корп. внутр. блоку: первинний пластик. Гарантія 2 роки.
                        #card3.product-page__tab.tab
                            .product-page__review
                                .product-page__review-btn.js-add-review Додати відгук
                                .product-page__review-list#review  
                                    .product-page__noReview
                                        .product-page__noReview-icon
                                        .product-page__noReview-info
                                            .product-page__noReview-title Список відгуків порожній
                                            .product-page__noReview-text Друзі, нам важлива ваша думка, залиште відгук
                            form#form-review.form
                                .form__title Додати відгук
                                .form__row.form__row--parent
                                    .form__cell
                                        <label class="form__label-box">
                                            <input type="text" name="name">
                                            <span class="form__label">Ім’я</span>
                                        </label>
                                    <div class="form__cell">
                                        <label class="form__label-box">
                                            <input type="email" name="email">
                                            <span class="form__label">Email</span>
                                        </label>
                                <div class="form__row">
                                    <label class="form__label-box">
                                        <textarea name="text"></textarea>
                                        <span class="form__label">Ваш відгук</span>
                                    </label>
                                <div class="form__btn">
                                    <button class="btn-3" type="submit" id="button-review">Залишити відгук</button>
            include pug/new.pug 
            include pug/footer.pug 
