<!DOCTYPE html>
html(lang="ru")
    include pug/head.pug
    body
        include pug/header.pug
        div(id="nofullpage") 
            .product-page.container   
                .product-page__sticky-wrap
                    .product-page__slider-wrap
                        .product-page__slider.swiper-container  
                            .swiper-wrapper
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/1.webp")
                                        img(src="images/products/meat/1.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/2.webp")
                                        img(src="images/products/meat/2.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/3.webp")
                                        img(src="images/products/meat/3.png", alt="desc")
                                .swiper-slide  
                                    picture.product-page__slide-img 
                                        source(type="image/webp" srcset="images/products/meat/1.webp")
                                        img(src="images/products/meat/1.png", alt="desc")
                        .product-page__nav-slider
                            .swiper-container
                                .swiper-wrapper
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/1.webp")
                                            img(src="images/products/meat/1.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/2.webp")
                                            img(src="images/products/meat/2.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/3.webp")
                                            img(src="images/products/meat/3.png", alt="desc")
                                    .swiper-slide  
                                        picture.product-page__slide-img 
                                            source(type="image/webp" srcset="images/products/meat/1.webp")
                                            img(src="images/products/meat/1.png", alt="desc")
                .product-page__info
                    .breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__list-item  
                                a(href="/") Главная                        
                            li.breadcrumbs__list-item  
                                a(href="/categories.pug") Мясорубки                        
                            li.breadcrumbs__list-item  
                                | Мясорубка Rauberg RMG-041
                    h2.product-page__title Мясорубка Rauberg 
                        span.product-page__title-color RMG-041
                    .product-page__code Артикул:11917
                    .product-page__buy-box
                        .product-page__price 8 888
                        .product-page__btn-wrap
                            btn.product-page__one-click-btn.btn.modal-open(aria-controls="one-click") купить в один клик
                            .modal#one-click
                                form.modal__window(aria-labelledby="modal-title")
                                    button.modal__close
                                    .modal__left
                                        .modal__left-main   
                                            .product-page__code Артикул:11917
                                            picture.modal__img 
                                                source(type="image/webp" srcset="images/products/meat/1.webp")
                                                img(src="images/products/meat/1.png", alt="desc")
                                            h2.product-page__title Мясорубка Rauberg 
                                                span.product-page__title-color RMG-041
                                        .modal__left-footer
                                            .product-page__price 8 888
                                            .modal__counter
                                                .slider-nav
                                                    .slider-nav__arrow.slider-nav__arrow_up
                                                        img(src="images/icons/angle_up.svg" alt="Предыдущий слайд")
                                                    .slider-nav__separator
                                                    .slider-nav__arrow.slider-nav__arrow_down
                                                        img(src="images/icons/angle_down.svg" alt="Следующий слайд")
                                                .swiper-container
                                                    .swiper-wrapper
                                                        .swiper-slide 1
                                                        .swiper-slide 2
                                                        .swiper-slide 3
                                                .modal__counter-txt шт
                                    .modal__right
                                        h3.modal__order-title ЗАКАз в один клик
                                        input.modal__input(type="text" placeholder="имя")
                                        input.modal__input(type="tel" placeholder="ТЕЛЕФОН")
                                        input.modal__input(type="mail" placeholder="EMAIL")
                                        .modal__textarea-wrap
                                            textarea.modal__textarea(placeholder="сообщение")
                                        button.btn.modal__submit отправить
                            btn.product-page__buy-btn.btn купить 
                    .product-page__recommendation Рекомендована інтернет ціна
                    .product-page__controls
                    .product-page__shops
                        .product-page__shops-title Купить данный товар можно в:
                        .product-page__shops-list
                            a(href="https://market.yandex.ru/product--miasorubka-rauberg-rmg-031qm/705454001?text=rauberg" target="_blank" rel="nofollow" class="product-page__shops-item")
                                img.svg(src="images/markets/yandex.svg" alt="яндекс маркет")
                                img.svg(src="images/markets/yandex.svg" alt="яндекс маркет")
                            a(href="https://www.ozon.ru/brand/rauberg-87202509/" target="_blank" rel="nofollow" class="product-page__shops-item")
                                img.svg(src="images/markets/ozon.svg" alt="ozon")
                                img.svg(src="images/markets/ozon.svg" alt="ozon")
                            a(href="https://www.voxmax.ru" target="_blank" rel="nofollow" class="product-page__shops-item")
                                img.svg(src="images/markets/voxmax.svg" alt="voxmax")
                                img.svg(src="images/markets/voxmax.svg" alt="voxmax")
                    .tab-container
                        .product-page__tabs.tabs-list
                                span.product-page__tabs-link.tab.active Характеристики
                                span.product-page__tabs-link.tab Описание товара
                                span.product-page__tabs-link.tab Отзывы
                        .product-page__options
                            .product-page__tab.tab-pane.active
                                .product-page__specifications
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                                    .product-page__specifications-row
                                        .product-page__specifications-name БТО:
                                        .product-page__specifications-value 12000
                                    .product-page__specifications-row
                                        .product-page__specifications-name Кондиціонер, тип:
                                        .product-page__specifications-value інверторна спліт-система
                            .product-page__tab.tab-pane
                                .product-page__description.text-content
                                    |Тип: інвертор, спліт-система. Мах площа ох. / обігр .: 40 м2. Клас енергоеф-ті: А. Таймер до 24 год. Фільтрація. Осушення повітря. Вентиляція. Режими: авто, сон, еко. Потужність ох. / обігр.: 3530/3660 Вт. Споживана потужність: 1096/1010 Вт. Хладагент: R410A. Матеріал корп. внутр. блоку: первинний пластик. Гарантія 2 роки.
                            .product-page__tab.tab-pane
                                .product-page__review
                                    .product-page__review-btn.js-add-review Добавить отзыв
                                    .product-page__review-list#review  
                                        .product-page__noReview
                                            .product-page__noReview-icon
                                                img(src="images/icons/review.svg")
                                            .product-page__noReview-info
                                                .product-page__noReview-title Список отзывов пустой
                                                .product-page__noReview-text Друзья, нам важно ваше мнение, оставьте отзыв
                                form#form-review.form
                                    .form__title Добавить отзыв
                                    .form__row.form__row--parent
                                        .form__cell
                                            label.form__label-box
                                                input(type="text" name="name")
                                                span.form__label Имя
                                        .form__cell
                                            label.form__label-box
                                                input(type="email" name="email")
                                                span.form__label Email
                                    .form__row
                                        label.form__label-box
                                            textarea(name="text")
                                            span.form__label Ваш отзыв
                                    button.btn.form__btn(type="submit" id="button-review") Оставить отзыв
            include pug/new.pug 
            include pug/footer.pug 
